<header>
    <h1>oi</h1>
</header>

<section>
    <main>
        <span>oi</span>
    </main>
</section>

{% schema %}
{
    "name": "lotion-lp",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "lotion-lp"
            }
        ]
}
{% endschema %}

